body{
	background-color: #232323;
	margin: 0;
	font-family: "montserrat","Avenier";

}
.square{
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 15%;
	transition: background 0.9s;
	-webkit-transition: background 0.9s;
	-moz-transition: background 0.9s;

}
#container {
	margin: 20px auto;
	max-width: 600px;
}
h1{
	text-align: center;
	color: white;
	background: steelblue;
	font-weight: normal;
	margin: 0;
	text-transform: uppercase;
	line-height: 1.1;
	padding: 20px 0;
}


#stripe {
	background: white;
	height: 30px;
	text-align: center;
	color: black;
	padding-top: 5px;
}
.selected {
	color: white;
background: steelblue;
}
#colorDisplay{
	font-size: 200%;
}
button{
	border: none;
	background: none;
	text-transform: uppercase;
	height: 100%;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
outline: none;
	font-size: inherit;
	transition: all 0.9s;
	-webkit-transition: all 0.9s;
	-moz-transition: all 0.9s;

}
#message{
	display: inline-block;
width: 20%;
}
button:hover {
	color: white;
	background: steelblue;
}